/* HTML5 tags */
header,section,footer,aside,nav,article,figure {
	display: block;
}

header {
	margin: 0 auto 2em auto;
	padding: 0;
}

section #body{
	width:952px;
	margin:0 auto;
}

body {
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Droid Sans', 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
		'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

a {
text-decoration: none;
}

li {
	list-style: none;
}